<h1>Treatment of missing values</h1>
<ul>
    <li>
        <strong>Drop the missing values</strong>
        <ul>
            <li>
                If the dateset is huge and missing vlaues are very few then we can directly drop the values because it will not have much impoact
            </li>
            <li>
                Data missing in column is more than 30%
            </li>
        </ul>
    </li>
    <li>
        <strong>Impute missing values</strong>
        <ul>
            <li>Categorical columns : 
                <ul>
                    <li>
                        Impute the mose popular category
                    </li>
                    <li>
                        Imputation can be done using logistic regression techniques
                    </li>
                </ul>

            </li>

            <li>
                Numerical Column: 
                <ul>
                    <li>
                        Replace the missing values using mean
                    </li>
                    <li>
                        Replace the missing value using median
                    </li>
                    <li>
                        Or using other method to fill missing values ( liner Regression , Interpolation ) 
                    </li>
                </ul>
            </li>
            
        </ul>
    </li>
</ul>

In [74]:
import numpy as np
import pandas as pd

In [75]:
df = pd.read_csv("googleplaystore_v2.csv");

## Check Missing Values

In [76]:
df.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

## Treat Missing Values

In [77]:
df.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000.0,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000.0,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [78]:
df.describe()

            Rating           Size
count  9367.000000   10841.000000
mean      4.193338   21516.529524
std       0.537431   20746.537567
min       1.000000       8.500000
25%       4.000000    5900.000000
50%       4.300000   18000.000000
75%       4.500000   26000.000000
max      19.000000  100000.000000

In [79]:
np.round((df.isnull().sum()/len(df)*100).sort_values(ascending=False),2)

Rating            13.60
Current Ver        0.07
Android Ver        0.03
Type               0.01
Content Rating     0.01
App                0.00
Category           0.00
Reviews            0.00
Size               0.00
Installs           0.00
Price              0.00
Genres             0.00
Last Updated       0.00
dtype: float64

<h3>Observation</h3>
<ul>
    <li>All column missing value are <30%  so we can not drop it</li>
    <li></li>
    <li></li>
</ul>

## 1. Treating : Droping row/column

In [80]:
# df.drop(df[df["Rating"].isnull()],axis=1)
df = df[df["Rating"].notnull()]

In [81]:
df.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    1
Genres            0
Last Updated      0
Current Ver       4
Android Ver       3
dtype: int64

##### For Android Ver

In [82]:
df[df["Android Ver"].isnull()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
4453,[substratum] Vacuum: P,PERSONALIZATION,4.4,230,11000.000000,"1,000+",Paid,$1.49,Everyone,Personalization,"July 20, 2018",4.4,NaN
4490,Pi Dark [substratum],PERSONALIZATION,4.5,189,2100.000000,"10,000+",Free,0,Everyone,Personalization,"March 27, 2018",1.1,NaN
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,21516.529524,Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [83]:
# Drop row 10472

# df.drop(10472,axis=0,inplace=True)
df = df.drop(10472,axis=0)
df[df["Android Ver"].isnull()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
4453,[substratum] Vacuum: P,PERSONALIZATION,4.4,230,11000.0,"1,000+",Paid,$1.49,Everyone,Personalization,"July 20, 2018",4.4,NaN
4490,Pi Dark [substratum],PERSONALIZATION,4.5,189,2100.0,"10,000+",Free,0,Everyone,Personalization,"March 27, 2018",1.1,NaN

## 2. Imputing Values

In [84]:
df["Android Ver"].isnull().sum()

2

In [85]:
df["Android Ver"].value_counts()

4.1 and up            2059
Varies with device    1319
4.0.3 and up          1240
4.0 and up            1131
4.4 and up             875
2.3 and up             582
5.0 and up             535
4.2 and up             338
2.3.3 and up           240
3.0 and up             211
2.2 and up             208
4.3 and up             207
2.1 and up             113
1.6 and up              87
6.0 and up              48
7.0 and up              41
3.2 and up              31
2.0 and up              27
5.1 and up              18
1.5 and up              16
3.1 and up               8
2.0.1 and up             7
4.4W and up              6
8.0 and up               5
7.1 and up               3
4.0.3 - 7.1.1            2
5.0 - 8.0                2
1.0 and up               2
7.0 - 7.1.1              1
4.1 - 7.1.1              1
5.0 - 6.0                1
Name: Android Ver, dtype: int64

##### This is Categorical data need to fill null values
<p>Fill With Mode</p>

In [86]:
df["Android Ver"].mode()

0    4.1 and up
dtype: object

In [87]:
df["Android Ver"].fillna(df["Android Ver"].mode()[0],inplace=True)

#### On Current Version Column

In [88]:
df["Current Ver"].value_counts()

Varies with device    1415
1.0                    458
1.1                    195
1.2                    126
1.3                    120
                      ...
2.9.10                   1
3.18.5                   1
1.3.A.2.9                1
9.9.1.1910               1
0.3.4                    1
Name: Current Ver, Length: 2638, dtype: int64

In [89]:
# Check Mode values
df["Current Ver"].mode()

0    Varies with device
dtype: object

In [90]:
# Check Total null values in Current Ver
df["Current Ver"].isnull().sum()

4

In [91]:
# Null values fill with mode
df["Current Ver"].fillna(df["Current Ver"].mode()[0],inplace=True)
df["Current Ver"].isnull().sum()

0

In [92]:
df.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

# Standerdizing The Values

#### 1. Handling Incorrect Data Types

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9366 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9366 non-null   object
 1   Category        9366 non-null   object
 2   Rating          9366 non-null   float64
 3   Reviews         9366 non-null   object
 4   Size            9366 non-null   float64
 5   Installs        9366 non-null   object
 6   Type            9366 non-null   object
 7   Price           9366 non-null   object
 8   Content Rating  9366 non-null   object
 9   Genres          9366 non-null   object
 10  Last Updated    9366 non-null   object
 11  Current Ver     9366 non-null   object
 12  Android Ver     9366 non-null   object
dtypes: float64(2), object(11)
memory usage: 1.0+ MB


<ul>
    <li>Remove '$' and ',' from  price</li>
</ul>

In [98]:
# Correct Price Column
df["Price"].value_counts()

0          8719
$2.99       114
$0.99       107
$4.99        70
$1.99        59
           ...
$1.29         1
$299.99       1
$379.99       1
$37.99        1
$1.20         1
Name: Price, Length: 73, dtype: int64

In [106]:
def filter_price(x):
    x = float(x.replace("$",""))
    return x

df["Price"] = df["Price"].apply(filter_price)

In [107]:
df.sample(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
2651,"Waplog - Free Chat, Dating App, Meet Singles",SOCIAL,4.2,522018,21516.529524,"10,000,000+",Free,0.00,Mature 17+,Social,"August 2, 2018",Varies with device,Varies with device
2039,Learn To Draw Glow Flower,FAMILY,4.4,7320,10000.000000,"1,000,000+",Free,0.00,Everyone,Entertainment;Education,"July 7, 2017",1.0.1,4.0.3 and up
8364,DG Surveyor,BUSINESS,3.6,5,6800.000000,50+,Paid,8.99,Everyone,Business,"April 30, 2018",6.00,4.0.3 and up
10593,Discovery Church Florida,LIFESTYLE,4.7,40,8000.000000,"1,000+",Free,0.00,Teen,Lifestyle,"June 25, 2018",3.8.0,4.1 and up
4259,J-UFO,FAMILY,3.5,339,21516.529524,"100,000+",Free,0.00,Everyone,Entertainment,"December 12, 2017",Varies with device,4.0.3 and up

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9366 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9366 non-null   object
 1   Category        9366 non-null   object
 2   Rating          9366 non-null   float64
 3   Reviews         9366 non-null   object
 4   Size            9366 non-null   float64
 5   Installs        9366 non-null   object
 6   Type            9366 non-null   object
 7   Price           9366 non-null   float64
 8   Content Rating  9366 non-null   object
 9   Genres          9366 non-null   object
 10  Last Updated    9366 non-null   object
 11  Current Ver     9366 non-null   object
 12  Android Ver     9366 non-null   object
dtypes: float64(3), object(10)
memory usage: 1.0+ MB

#### Describe
<p>Now Price Column will correct, we replace $ with "empty space" and convert into float</p>

In [109]:
df["Price"].value_counts()

0.00      8719
2.99       114
0.99       107
4.99        70
1.99        59
          ...
1.29         1
299.99       1
379.99       1
37.99        1
1.20         1
Name: Price, Length: 73, dtype: int64

### Correcting  Installs Column

In [110]:
df["Installs"].value_counts()

1,000,000+        1577
10,000,000+       1252
100,000+          1150
10,000+           1010
5,000,000+         752
1,000+             713
500,000+           538
50,000+            467
5,000+             432
100,000,000+       409
100+               309
50,000,000+        289
500+               201
500,000,000+        72
10+                 69
1,000,000,000+      58
50+                 56
5+                   9
1+                   3
Name: Installs, dtype: int64

In [113]:
def filter_installs(x):
    x = float(x.replace(",","").replace("+",""))
    return x

df["Installs"] = df["Installs"].apply(filter_installs)

In [115]:
df.sample(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
7948,Resume & CV Creator by Desygner,PRODUCTIVITY,4.5,48,26000.000000,5000.0,Free,0.00,Everyone,Productivity,"July 23, 2018",2.11.1,5.0 and up
2826,Garden Photo Frames - Garden Photo Editor,PHOTOGRAPHY,4.4,1864,13000.000000,500000.0,Free,0.00,Everyone,Photography,"May 3, 2018",22.0,4.0.3 and up
10697,Mu.F.O.,GAME,5.0,2,16000.000000,1.0,Paid,0.99,Everyone,Arcade,"March 3, 2017",1.0,2.3 and up
37,Floor Plan Creator,ART_AND_DESIGN,4.1,36639,21516.529524,5000000.0,Free,0.00,Everyone,Art & Design,"July 14, 2018",Varies with device,2.3.3 and up
1036,Emmabodafestivalen,EVENTS,4.8,12,29000.000000,1000.0,Free,0.00,Everyone 10+,Events,"June 28, 2018",42.0,4.2 and up

In [118]:
df["Installs"].describe()

count    9.366000e+03
mean     1.789744e+07
std      9.123822e+07
min      1.000000e+00
25%      1.000000e+04
50%      5.000000e+05
75%      5.000000e+06
max      1.000000e+09
Name: Installs, dtype: float64