# Random forest classification

In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
df=pd.read_csv('Social_Network_Ads.csv')

In [7]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [8]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [9]:
df.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [10]:
X=df[['Age','EstimatedSalary']]
y=df['Purchased']

In [11]:
X.head()

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [12]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

spliting the dataset

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train , X_test , y_train , y_test= train_test_split(X,y, train_size=0.80, test_size=0.20,random_state=40)

In [15]:
X_test

     Age  EstimatedSalary
132   30            87000
390   48            33000
310   42            70000
3     27            57000
248   41            52000
..   ...              ...
361   53            34000
197   20            36000
23    45            22000
54    27            58000
58    22            18000

[80 rows x 2 columns]

# Feature Scalling

In [16]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [17]:
X_train= sc.fit_transform(X_train)

In [18]:
X_test=sc.transform(X_test)

## from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor

In [21]:
from sklearn.ensemble import RandomForestClassifier,RandomForestRegressor

In [22]:
classifier= RandomForestClassifier(n_estimators= 10, criterion='gini', random_state=0)

In [23]:
classifier.fit(X_train, y_train)

RandomForestClassifier(n_estimators=10, random_state=0)

# predicting

In [24]:
y_pred= classifier.predict(X_test)

In [25]:
y_pred

array([0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0], dtype=int64)

# making the confusion matrix

In [26]:
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score

In [27]:
cm=confusion_matrix(y_test,y_pred)
print(cm)

[[52  4]
 [ 4 20]]

In [28]:
accuracy_score(y_pred,y_test)

0.9

# Bagging

In [29]:
from sklearn.ensemble import BaggingClassifier
from sklearn import tree

In [30]:
model=BaggingClassifier(tree.DecisionTreeClassifier(random_state=1))

In [31]:
model.fit(X_train,y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(random_state=1))

In [32]:
model.score(X_test,y_test)

0.925